.row
  .col-sm-6.col-md-4.col-md-offset-4
    - @artist.qwatos.each do |qwato|
      .thumbnail{:id => "qwato_#{qwato.id}"}
        = image_tag qwato.image_url , alt: qwato.quote
        %a.btn.btn-primary{:href => "http://twitter.com/home?status=#{qwato.image_url}", :target => "_blank", :title => "Share on Twitter"}
          %i.fa.fa-twitter
          Twitter
        %a.btn.btn-primary{:href => "https://www.facebook.com/sharer/sharer.php?u=#{qwato.image_url}", :target => "_blank", :title => "Share on Facebook"}
          %i.fa.fa-facebook
          Facebook
        = link_to(user_likes_path(qwato) ,  method: :post) do
          = content_tag('i' , nil , class: 'fa fa-thumbs-up fa-2x')
        = link_to(user_dislikes_path(qwato),  method: :post) do
          = content_tag('i' , nil , class: ' fa fa-thumbs-down fa-2x')


         